# 파이썬 시작하기

## 001 ~ 010

In [1]:
# 001 화면에 (Hello World) 문자열을 출력하세요.
print('Hello World')

Hello World

In [2]:
# 002 화면에 (Mary's cosmetics)을 출력하세요.
print("Mary's cometics")

Mary's cometics

In [3]:
# 003 (신씨가 소리질렀다. "도둑이야".)을 출력하세요.
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
# 004 화면에 (C:\Windows)를 출력하세요.
print('C:\Windows')

C:\Windows

In [6]:
# 005 다음 코드(print("안녕하세요.\n만나서\t\t반갑습니다."))를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [7]:
# /n은 줄 바꿈, /t는 tab에 역할
print("안녕하세요.\n만나서\t반갑습니다.")

안녕하세요.
만나서	반갑습니다.

In [8]:
# 006 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일

In [9]:
# 007 print() 함수를 사용하여 (naver;kakao;sk;samsung)출력하세요.
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [10]:
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [11]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [12]:
# 008 print() 함수를 사용하여 (naver/kakao/sk/samsung) 출력하세요.
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [17]:
# 009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
# print("first");print("second")
print("first",end="");print("second")

firstsecond

In [20]:
# 010 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

# 파이썬 변수

## 011 ~ 020

In [23]:
# 011 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자 = 50000
총평가금액 = 삼성전자 * 5
print(총평가금액)

250000

In [32]:
삼성전자 = 50000
a = '총 평가금액'
b = 삼성전자 * 5
print(a, b)

총 평가금액 250000

In [36]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 5
print('총 평가금액 =',총평가금액)

총 평가금액 = 250000

In [ ]:
# 012 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

|항목|	값|
|--|--|
|시가총액|	298조|
|현재가	|50,000원|
|PER	|15.79|

In [37]:
시가총액 = '298조'
현재가 = '50,000원'
PER = 15.79
print(시가총액, 현재가, PER)

298조 50,000원 15.79

In [38]:
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298조 <class 'str'>
50,000원 <class 'str'>
15.79 <class 'float'>

In [ ]:
# 013 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>> s = "hello"
>> t = "python"
두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [48]:
s = "hello"
t = "python"
print(s+'!',t)

hello! python

In [ ]:
# 014 아래 코드의 실행 결과를 예상해보세요.

>> 2 + 2 * 3

In [49]:
2 + 2 * 3

8

In [ ]:
# 015 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

>> a = 128
>> print (type(a))
<class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.

>> a = "132"

In [50]:
a = "132"
print(type(a))

<class 'str'>

In [ ]:
# 016 문자열 '720'를 정수형으로 변환해보세요.

>> num_str = "720"

In [52]:
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [51]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [ ]:
# 017 정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [53]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [ ]:
# 018 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [55]:
num = "15.79"
num_float = float(num)
print(num_float, type(num_float))

15.79 <class 'float'>

In [ ]:
# 019 year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [56]:
year = "2020"
year_int = int(year)
print(year_int+1)
print(year_int+2)
print(year_int+3)

2021
2022
2023

In [ ]:
# 020 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [57]:
air = 48584
mon = 36
print(air * mon)

1749024

In [58]:
air = 48584
총금액 = air * 36
print(총금액)

1749024

# 파이썬 문자열

## 021 ~ 030

In [ ]:
# 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>> letters = 'python'
실행 예
p t

In [60]:
letters = 'python'
print(letters[0], letters[2])

p t

In [ ]:
# 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

>> license_plate = "24가 2210"
실행 예: 2210

In [61]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [62]:
license_plate = "24가 2210"
print(license_plate[-1:])

0

In [63]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [ ]:
# 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

>> string = "홀짝홀짝홀짝"
실행 예:
홀홀홀

In [66]:
string = "홀짝홀짝홀짝"
print(string[0::2])

홀홀홀

In [67]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
# 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

>> string = "PYTHON"
실행 예:
NOHTYP

In [68]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [123]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
# 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

>> phone_number = "010-1111-2222"
실행 예
010 1111 2222

In [72]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

In [ ]:
# 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [73]:
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

01011112222

In [ ]:
# 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

>> url = "http://sharebook.kr"
실행 예:
kr

In [76]:
url = "http://sharebook.kr"
print(url.split('.'))

['http://sharebook', 'kr']

In [77]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [ ]:
# 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

In [78]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [79]:
lang = 'python'
print(lang[0])

p

In [ ]:
# 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

>> string = 'abcdfe2a354a32a'
실행 예:
Abcdfe2A354A32A

In [81]:
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [80]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [ ]:
# 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

In [83]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [84]:
string = 'abcd'
print(string.replace('b', 'B'))

aBcd

## 031 ~ 040

In [ ]:
# 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

>> a = "3"
>> b = "4"
>> print(a + b)

In [85]:
a = "3"
b = "4"
print(a + b)

34

In [ ]:
# 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)

In [86]:
print("Hi" * 3)

HiHiHi

In [ ]:
# 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

실행 예:
--------------------------------------------------------------------------------

In [87]:
print("-" * 80)

--------------------------------------------------------------------------------

In [ ]:
# 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'
>>> t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

In [95]:
t1 = 'python'
t2 = 'java'

print((t1+' '+t2+' ')*4)

python java python java python java python java

In [96]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [ ]:
# 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [98]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름:', name1, '나이:', age1)
print('이름:', name2, '나이:', age2)

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [99]:
#print 포맷팅에서 `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미합니다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [100]:
#문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 `{ }`를 적어주면 됩니다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [101]:
#f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 `{변수}`와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

In [103]:
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(',', '')
정수 = int(상장주식수)
print(정수,type(정수))

5969782550 <class 'int'>

In [ ]:
# 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [104]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
# 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [148]:
data = "   삼성전자    "
data2 = data.strip()
data2

'삼성전자'

In [108]:
#문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

## 041 ~ 050

In [ ]:
# 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [126]:
ticker = "btc_krw"

print(ticker.upper())

BTC_KRW

In [ ]:
#upper 메서드를 호출하면 문자열을 대문자로 만들 수 있습니다. 다만 이 경우에도 원본 문자열은 유지되고 대문자로 변경된 새로운 문자열 객체가 반환되는 겁니다.
#반환된 새로운 객체를 새로운 변수로 바인딩한 후 이를 print 함수로 출력하면 됩니다.
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

In [ ]:
# 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [127]:
ticker = "BTC_KRW"

print(ticker.lower())

btc_krw

In [150]:
#lower 메서드를
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [149]:
# 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

SyntaxError: invalid syntax (846362474.py, line 2)

In [131]:
a = 'hello'
a = a.capitalize()
print(a)

Hello

In [136]:
a.capitalize?

Signature: a.capitalize()
Docstring:
Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower
case.
Type:      builtin_function_or_method

In [137]:
# 첫글자는 대문자로 나머지는 소문자로 변환
a = 'hello ABCDEFG'
a = a.capitalize()
print(a)

Hello abcdefg

In [ ]:
# 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [138]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [ ]:
# 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [139]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [ ]:
# 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [140]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
# 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

In [141]:
a = "hello world"
a.split()

['hello', 'world']

In [ ]:
# 048 split 메서드
#문자열에서 split() 메서드는 문자열을 분리할 때 사용합니다. 이때 어떤 값을 넘겨주면 그 값을 기준으로 문자열을 분리해줍니다.
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [142]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
# 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [143]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [ ]:
# 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "

In [147]:
data = "039490     "
data2 = data.rstrip()
data2

'039490'

# 파이썬 리스트

## 051 ~ 060

In [ ]:
# 051 리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

|순위|영화|
|---|---|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [153]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
# 052 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [156]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 053 
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [160]:
#리스트의 `insert(인덱스, 원소)` 메서드를 사용하면 특정 위치에 값을 끼어넣기 할 수 있습니다
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [161]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 055
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [162]:
#del을 이용하여 리스트에서 원소를 삭제할 수 있습니다. 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. 
#따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 056
lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

>> lang1 = ["C", "C++", "JAVA"]
>> lang2 = ["Python", "Go", "C#"]
실행 예:
>> langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [165]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 057
다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]
실행 예:
max:  7
min:  1

In [169]:
nums = [1, 2, 3, 4, 5, 6, 7]

print("max:",max(nums))
print("min:",min(nums))

max: 7
min: 1

In [ ]:
# 058
다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
실행 예:
15

In [170]:
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [ ]:
# 059
다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [172]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [ ]:
# 060
다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
실행 예:
3.0

In [178]:
nums = [1, 2, 3, 4, 5]

print(sum(nums)/len(nums))

3.0

In [ ]:
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

## 061 ~ 070

In [ ]:
# 061
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
출력 예시:
[100, 130, 140, 150, 160, 170]

In [179]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 062
슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
실행 예:
[1, 3, 5, 7, 9]

In [185]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
# 063 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
실행 예:
[2, 4, 6, 8, 10]

In [195]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
# 064
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
실행 예:
[5, 4, 3, 2, 1]

In [183]:
nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# 065
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 Naver

In [186]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0],interest[2])

삼성전자 Naver

In [ ]:
# 066  join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [191]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 067 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [192]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [193]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("".join(interest))

삼성전자LG전자NaverSK하이닉스미래에셋대우

In [ ]:
# 068 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [197]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 069 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
이를 interest 이름의 리스트로 분리 저장하라.

실행 예시
>> print(interest)
['삼성전자', 'LG전자', 'Naver']

In [199]:
string = "삼성전자/LG전자/Naver"

interest = string.split("/")

print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

In [200]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]

In [201]:
data = [2, 4, 3, 1, 5, 10, 9]

data2 = sorted(data)

print(data2)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

## 071 ~ 080

In [ ]:
# 071
my_variable 이름의 비어있는 튜플을 만들라.

In [204]:
my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [ ]:
# 072
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

|순위|영화|
|---|---|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [207]:
 movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
# 073
숫자 1 이 저장된 튜플을 생성하라.

In [211]:
my_tuple = (1)
print(type (my_tuple))

<class 'int'>

In [212]:
my_tuple = (1, )
print(type (my_tuple))

<class 'tuple'>

괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다.   
type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.   
하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

In [ ]:
# 074
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [214]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

tuple은 원소(element)의 값을 변경할 수 없습니다.

In [ ]:
# 075
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

In [215]:
t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

In [ ]:
# 076
변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [216]:
t = ('a', 'b', 'c')
print(t)
t = ('A', 'B', 'C')
print(t)

('a', 'b', 'c')
('A', 'B', 'C')

튜플의 값은 변경할 수 없기 때문에, 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.

In [ ]:
# 077 
다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [1]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [236]:
# 078
다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [232]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

list = tuple(interest)

print(list, type(list))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [ ]:
# 079 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

In [2]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
# 080 range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [3]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [4]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [20]:
data = list(range(100))
print( data )
data = tuple(range(100))
print( data )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

In [21]:
data = list(range(1, 100))
print( data )
data = tuple(range(1, 100))
print( data )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

In [23]:
data = list(range(1,100,2))
print( data )
data = tuple(range(1,100,2))
print( data )

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)

In [26]:
data = list(range(2,100,2))
print( data )
data = tuple(range(2,100,2))
print( data )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 파이썬 딕셔너리

## 081 ~ 090

In [ ]:
# 081 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

>> a, b, *c = (0, 1, 2, 3, 4, 5)
>> a
0
>> b
1
>> c
[2, 3, 4, 5]
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [28]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _= scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [29]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _= scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [30]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _, _, _= scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7]

In [ ]:
# 082
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [31]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

_, _, *valid_score= scores

print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [32]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [33]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, a, b, c, d= scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7]

In [ ]:
# 083
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [34]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

b, *valid_score, a= scores

print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 084 비어있는 딕셔너리
temp 이름의 비어있는 딕셔너리를 만들라.

In [36]:
temp = { }
print(temp, type(temp))

{} <class 'dict'>

In [ ]:
# 085
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.
    
이름	희망 가격
메로나	1000
폴라포	1200
빵빠레	1800

In [37]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
# 086
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

이름	희망 가격
죠스바	1200
월드콘	1500

In [39]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 087
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

실행 예:
메로나 가격: 1000

In [44]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [ ]:
# 088
다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [46]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [53]:
# 089 
다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [55]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 090
다음 코드에서 에러가 발생한 원인을 설명하라.

>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']

Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생합니다.

## 091 ~ 100

In [ ]:
# 091 딕셔너리 생성
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

이름	가격	재고
메로나	300  	20
비비빅	400 	3
죠스바	250	    100

In [59]:
inventory = {'메로나' : [300, 20], '비비빅' : [400, 3], '죠스바' : [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
# 092 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
실행 예시:
300 원

In [64]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][0],'원')

300 원

In [ ]:
# 093 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
실행 예시:
20 개

In [65]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][1],'개')

20 개

In [ ]:
# 094 딕셔너리 추가
inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

이름	가격	재고
월드콘	500	7

실행 예시:
>> print(inventory)
{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [66]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory['월드콘'] = [500, 7]

print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
# 095 딕셔너리 keys() 메서드
다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [68]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(icecream.keys())

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [69]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
# 096 딕셔너리 values() 메서드
다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [71]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(icecream.values())

dict_values([1200, 1200, 1800, 1500, 1000])

In [73]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 097 딕셔너리 values() 메서드
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
출력 예시:
6700

In [74]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [ ]:
# 098 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

실행 예시:
>> print(icecream)
{'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}

In [76]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
# 099 zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

실행 예시:
>> print(result)
{'apple': 300, 'pear': 250, 'peach': 400}

In [77]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))

print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
# 100 zip과 dict
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

실행 예시:
>> print(close_table)
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [79]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))

print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬 분기문

## 101 ~ 110

In [ ]:
# 101
파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

`bool` 타입입니다.

In [ ]:
# 102
아래 코드의 출력 결과를 예상하라

print(3 == 5)

In [80]:
print(3 == 5)

False

In [ ]:
# 103
아래 코드의 출력 결과를 예상하라

print(3 < 5)

In [81]:
print(3 < 5)

True

In [ ]:
# 104
아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

In [82]:
x = 4
print(1 < x < 5)

True

In [ ]:
# 105
아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

In [83]:
print ((3 == 3) and (4 != 3))

True

In [ ]:
# 106
아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

In [84]:
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3612698823.py, line 1)

지원하지 않는 연산자입니다.

In [90]:
# 107
아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")

In [88]:
if 4 < 3:
    print("Hello World.")

In [ ]:
# 108
아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [87]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
# 109
아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [91]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
# 110
아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [92]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

## 111 ~ 120

In [ ]:
# 111
사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

>> 안녕하세요
안녕하세요안녕하세요

In [2]:
user = input()

print(user * 2)

 아아

아아아아

In [3]:
user = input('입력:')

print(user * 2)

입력: 아안

아안아안

In [ ]:
# 112
사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

>> 숫자를 입력하세요: 30
40

In [7]:
user = int(input("숫자를 입력하세요:"))

print(user + 10)

숫자를 입력하세요: 30

40

In [8]:
user = input("숫자를 입력하세요: ")

print(10 + int(user))

숫자를 입력하세요:  30

40

In [ ]:
# 113
사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

>> 30
짝수

In [15]:
user = int(input("숫자를 입력하세요: "))

if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자를 입력하세요:  200

짝수

In [ ]:
# 114
사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

>> 입력값: 200
출력값: 220

>> 입력값: 240
출력값: 255

In [25]:
user = int(input('입력값:'))
use = user + 20

if use < 255 :
    print('출력값:', use)
else :
    print('출력값:', 255)

입력값: 800

출력값: 255

In [23]:
user = input("입력값: ")
num = 20 + int(user)

if num > 255:
    print(255)
else:
    print(num)

입력값:  500

255

In [ ]:
# 115
사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
단, 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

>> 입력값: 200
출력값: 180

>> 입력값: 15
출력값: 0

In [32]:
user = int(input('입력값:'))
use = user - 20

if 0 <= use <= 255 :
    print('출력값:',use)
elif use < 0 :
    print('출력값:',0) 
else :
    print('출력값:',255)

입력값: 21

출력값: 1

In [33]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:  500

255

In [ ]:
# 116
사용자로부터 입력 받은 시간이 정각인지 판별하라.

>> 현재시간:02:00
정각 입니다.

>> 현재시간:03:10
정각이 아닙니다

In [43]:
user = input('현재시간:')

if user[-2:] == '00' : #문자열 슬라이싱을 이용해서 연산
    print('정각 입니다.')
else :
    print('정각이 아닙니다.')

현재시간: 02:10

정각이 아닙니다.

In [47]:
user = input('현재시간:')
print(user)

현재시간: 02:55

02:55

In [49]:
user,type(user)

('02:55', str)

In [ ]:
# 117
사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]

>> 좋아하는 과일은? 사과
정답입니다.

In [51]:
user = input("좋아하는 과일은?")
fruit = ["사과", "포도", "홍시"]

if user == fruit :
    print('정답입니다.')
else :
    print('오답입니다.')

좋아하는 과일은? 수박

오답입니다.

In [ ]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")

if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 118
투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면
'투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [52]:
user = input("종목명:")
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

if user == warn_investment_list :
    print('투자 경고 종목입니다.')
else :
    print('투자 경고 종목이 아닙니다.')

종목명: 애플

투자 경고 종목이 아닙니다.

In [53]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")

if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:  사과

투자 경고 종목이 아닙니다.

In [ ]:
# 119
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
>> 제가좋아하는계절은: 봄
정답입니다.

In [56]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('제가 좋아하는 계절은:')

if user in fruit :
    print('정답입니다.')
else :
    print('오답입니다.')

제가 좋아하는 계절은: 봄

정답입니다.

In [ ]:
# 120
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
>> 좋아하는과일은? 한라봉
오답입니다.

In [61]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('좋아하는 과일은?')

if user in fruit.values() :
    print('정답입니다.')
else :
    print('오답입니다.')

좋아하는 과일은? 딸기

정답입니다.

## 121 ~ 130

In [ ]:
# 121
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

>> a
A
힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 
만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다. 
힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

In [63]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 Samsung

samsung

In [ ]:
# 122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

점수	학점
81~100	A
61~80	B
41~60	C
21~40	D
0~20	E
    
>> score: 83
grade is A

In [64]:
score = input("score: ")
score = int(score)

if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  30

grade is D

In [ ]:
# 123
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 
사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

통화명	환율
달러	1167
엔	1.096
유로	1268
위안	171
    
>> 입력: 100 달러
116700.00 원

In [66]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()

print(float(num) * 환율[currency], "원")

입력:  500 달러

583500.0 원

In [67]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num), 환율[currency])

입력:  500 달러

500.0 1167

In [ ]:
# 124
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

>> input number1: 10
>> input number2: 9
>> input number3: 20
20

In [68]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  50
input number2:  30
input number3:  90

90

In [ ]:
# 125
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음

>> 휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [71]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]

if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
    
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  011-6775-6906

당신은 SKT 사용자입니다.

In [ ]:
# 126
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

-	  0	      1	       2	   3 	  4	      5  	 6	     7	      8	      9
01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구

사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

>> 우편번호: 01400
도봉구

In [72]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  010

강북구

In [ ]:
# 127
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 
사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
남자

In [73]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]

if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  123456-1234567

남자

In [ ]:
# 128
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

지역코드	출생지
00 ~ 08	서울
09 ~ 12	부산

>> 주민등록번호: 821010-1635210
서울이 아닙니다.
    
>> 주민등록번호: 861010-1015210
서울 입니다.

In [ ]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]

if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

In [ ]:
# 129
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 
먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

  8 2 1 0 1 0 - 1 6 3 5 2 1 0
x 2 3 4 5 6 7   8 9 2 3 4 5 
-----------------------------
1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
2차 계산: 11 -7 = 4
위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.

다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [ ]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

In [ ]:
# 130
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 
최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

Key Name	Description
opening_price	최근 24시간 내 시작 거래금액
closing_price	최근 24시간 내 마지막 거래금액
min_price	최근 24시간 내 최저 거래금액
max_price	최근 24시간 내 최고 거래금액

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

# 파이썬 반복문
- 파이썬 for 문은 횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용됩니다. 파이썬 while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용됩니다.

## 131 ~ 140

In [ ]:
# 131
for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]

for 변수 in 과일:
    print(변수)

In [ ]:
# 내 예측
사과
귤
수박

In [2]:
# 실행 결과
과일 = ["사과", "귤", "수박"]

for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
# 132
for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]

for 변수 in 과일:
  print("#####")

In [ ]:
# 내 예측
#####
#####
#####

In [4]:
# 실행 결과
과일 = ["사과", "귤", "수박"]

for 변수 in 과일:
  print("#####")

#####
#####
#####

내 결론 : 변수는 과일에 있는 요소들 수 만큼(사과, 귤, 수박 -> 총 3개) for문을 실행하게 되고, 변수의 값은 과일에 있는 요소에 값(사과, 귤, 수박)을 가진다.   
즉, '사과'를 변수에 넣어서 for문 실행 -> '귤'을 변수에 넣어서 for문 실행 -> '수박'을 변수에 넣어서 for문 실행

In [ ]:
# 133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

In [7]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [5]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [6]:
print("A")
print("B")
print("C")

A
B
C

In [ ]:
# 134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

In [8]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [9]:
변수 = "A"
print("출력:",변수)
변수 = "B"
print("출력:",변수)
변수 = "C"
print("출력:",변수)

출력: A
출력: B
출력: C

In [10]:
print("출력:","A")
print("출력:","B")
print("출력:","C")

출력: A
출력: B
출력: C

In [ ]:
# 135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

In [11]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [12]:
변수 = "A"
print("변환:",변수.lower())
변수 = "B"
print("변환:",변수.lower())
변수 = "C"
print("변환:",변수.lower())

변환: a
변환: b
변환: c

In [13]:
print("변환:","A".lower())
print("변환:","B".lower())
print("변환:","C".lower())

변환: a
변환: b
변환: c

In [ ]:
# 136
다음 코드를 for문으로 작성하라.
    
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

In [24]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [18]:
변수 = [10, 20, 30]

for i in 변수 :
    print(i)

10
20
30

In [19]:
for 변수 in [10, 20, 30] :
    print(변수)

10
20
30

In [ ]:
# 137
다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

In [23]:
print(10)
print(20)
print(30)

10
20
30

In [20]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [21]:
변수 = [10, 20, 30]

for i in 변수 :
    print(i)

10
20
30

In [22]:
# 교재 답
for 변수 in [10, 20, 30] :
    print(변수)

10
20
30

In [ ]:
# 138
다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

In [25]:
# 코드 실행 결과
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [26]:
# 변수 분리
변수 = 10
print(변수)
print("-------")

변수 = 20
print(변수)
print("-------")

변수 = 30
print(변수)
print("-------")

10
-------
20
-------
30
-------

In [27]:
# 변수 분리 2
변수 = [10, 20, 30]
줄 = "-------"
print(변수)
print(줄)

print(변수)
print(줄)

print(변수)
print(줄)

10
-------
20
-------
30
-------

In [29]:
# 변수 정리 후 실행
변수 = [10, 20, 30]
줄 = "-------"

for i in 변수 :
    print(i)
    print(줄)

10
-------
20
-------
30
-------

In [30]:
# 실행 - 코드 간소화
변수 = [10, 20, 30]

for i in 변수 :
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [31]:
# 실행 - 코드 간소화 - 교재 답
for 변수 in [10, 20, 30] :
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [ ]:
# 139
다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

In [32]:
# 코드 실행 결과
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [33]:
# 변수 분리
변수 = "++++"
print(변수)

변수 = 10
print(변수)

변수 = 20
print(변수)

변수 = 30
print(변수)

++++
10
20
30

In [34]:
# 변수 정리 후 실행
변수 = ['++++', 10, 20, 30]

for i in 변수 :
    print(i)

++++
10
20
30

In [35]:
# 실행 - 코드 간소화
for 변수 in ['++++', 10, 20, 30] :
    print(변수)

++++
10
20
30

In [36]:
# 교재 답
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [ ]:
# 140
다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

In [38]:
for i in ["-------"] :
    print(i)
    print(i)
    print(i)
    print(i)

-------
-------
-------
-------

In [39]:
for i in [1, 2, 3, 4] :
    print("-------")

-------
-------
-------
-------

★★★★★★★★for문은 데이터 개수만큼 반복 실행한다★★★★★★★★★★★

In [49]:
range(0,11,1) # 0부터 10(11-1)까지 1씩 증가

range(0, 11)

In [50]:
len(range(0,11,1)) # 데이터 수 11개

11

In [59]:
for i in range(0,11,1) :
    print("-------") # 데이터 수에 맞게 11개 출력

-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------

In [48]:
range(0,11,2) # 0부터 10(11-1)까지 2씩 증가

range(0, 11, 2)

In [51]:
len(range(0,11,2)) # 데이터 수 6개

6

In [60]:
for i in range(0,11,2):
    print("-------")

-------
-------
-------
-------
-------
-------

## 141 ~ 150

In [ ]:
# 141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
단, 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
110
210
310

In [62]:
리스트 = [100, 200, 300]

for i in 리스트 :
    print(i+10)

110
210
310

In [ ]:
# 142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [64]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트 :
    print("오늘의 메뉴:",i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
# 143
리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
저장된 문자열의 길이를 다음과 같이 출력하라.

6
4
4

In [65]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트 :
    print(len(i))

6
4
4

In [ ]:
# 144
리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
동물 이름과 글자수를 다음과 같이 출력하라.

dog 3
cat 3
parrot 6

In [66]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트 :
    print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
# 145
리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for문을 사용해서 동물 이름의 첫 글자만 출력하라.

d
c
p

In [81]:
# 어렵게 느껴진다면 for문을 사용하지 않고 코드를 작성해봅시다.
이름 = "dog"
print(이름[0])

이름 = "cat"
print(이름[0])

이름 = "parrot"
print(이름[0])

d
c
p

In [77]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트 :
    print(i[0])

d
c
p

In [ ]:
# 146
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1
3 x 2
3 x 3

In [82]:
리스트 = [1, 2, 3]

for i in 리스트 :
    print(3,'x',i)

3 x 1
3 x 2
3 x 3

In [83]:
# 교재 답
리스트 = [1, 2, 3]

for 변수 in 리스트:
  print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [ ]:
# 147
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [84]:
리스트 = [1, 2, 3]

for i in 리스트 :
    print('3 x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
# 148
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

나
다
라

In [85]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:] :
    print(i)

나
다
라

In [ ]:
# 149
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

가
다

In [86]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2] :
    print(i)

가
다

In [ ]:
# 150
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

라
다
나
가

In [91]:
# 증감폭을 음수로 설정하면 끝에서 앞방향으로 값을 슬라이싱합니다.
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1] :
    print(i)

라
다
나
가

## 151 ~ 160

In [ ]:
# 151
리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
for문을 사용해서 리스트의 음수를 출력하라.

-20
-3

In [98]:
리스트 = [3, -20, -3, 44]

for i in 리스트 :
    if i < 0 :
        print(i)

-20
-3

In [ ]:
# 152
for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]

3

In [101]:
리스트 = [3, 100, 23, 44]

for i in 리스트 :
    if i%3 == 0 :
        print(i)

3

In [ ]:
# 153
리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]

12
18

In [102]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트 :
    if i%3 == 0 and i < 20 :
        print(i)

12
18

In [ ]:
# 154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]

study
python
language

In [104]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트 :
    if len(i) >= 3 :
        print(i)

study
python
language

In [ ]:
# 155
리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]

A
D
(참고) isupper() 메서드는 대문자 여부를 판별합니다.

>> 변수 = "A"
>> 변수.isupper()
True
>> 변수 = "a"
>> 변수.isupper()
False

In [105]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트 :
    if i.isupper() :
        print(i)

A
D

In [ ]:
# 156
리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
b
c

In [109]:
리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
  if 변수.isupper() != True:
    print(변수)

b
c

In [108]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트 :
    if i.isupper() == False :
        print(i)

b
c

In [110]:
# 논리 연산자 not을 사용할 수도 있습니다.
리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c

In [ ]:
# 157
이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']

Dog
Cat
Parrot
(참고) upper() 메서드는 문자열을 대문자로 변경합니다.

>> 변수 = "a"
>> a.upper()
A
>> 변수 = "abc"
>> 변수.upper()
ABC

In [111]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트 :
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [ ]:
# 158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. 
(힌트: split() 메서드)
split() 메서드는 문자열을 입력된 구분자로 분할해서 리스트로 반환합니다. 

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

hello
ex01
intro

In [120]:
리스트 = 'hello.py'

리스트.split('.')

['hello', 'py']

In [119]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트 :
    i = i.split('.')
    print(i)

['hello', 'py']
['ex01', 'py']
['intro', 'hwp']

In [121]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트 :
    i = i.split('.')
    print(i[0])

hello
ex01
intro

In [ ]:
# 159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

intra.h
define.h

In [122]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트 :
    a = i.split('.')
    if a[1] == 'h' :
        print(i)

intra.h
define.h

In [ ]:
# 160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

intra.h
intra.c
define.h

In [127]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트 :
    a = i.split('.')
    if a[1] == 'h' or a[1] ==  'c' :
        print(i)

intra.h
intra.c
define.h

## 161 ~ 170

In [ ]:
# 161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [129]:
list(range (3))

[0, 1, 2]

In [128]:
for i in range(0,100) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# 162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

2002
2006
2010
...
2042
2046
2050

참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]

In [133]:
for i in range(2022,2051,4) :
    print(i)

2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

3 
6 
9 
12 
15 
18 
21 
24 
27 
30

In [135]:
for i in range(3,31,3) :
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [142]:
a = range(0,100)
b = a[::-1]
for i in b :
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# 165
for문을 사용해서 아래와 같이 출력하라.

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9

In [155]:
for i in range(0,10) :
    print(0,'.',i)

0 . 0
0 . 1
0 . 2
0 . 3
0 . 4
0 . 5
0 . 6
0 . 7
0 . 8
0 . 9

In [160]:
1/10

0.1

In [161]:
for i in range(0,10) :
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166
구구단 3단을 출력하라.

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [167]:
for i in range(1,10) :
    print(3,'x',i,' = ',3*i, sep='')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [166]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
# 167
구구단 3단을 출력하라. 단, 홀수 번째만 출력한다.

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [170]:
for i in range(1,10,2) :
    print(3, 'x', i, ' = ', i*3, sep='')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [ ]:
# 168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합 : 55

In [4]:
sum=0
for i in range(1,11) :
    sum += i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [189]:
sum = 0
for i in range(1,11) :
    sum += i
print(sum)

55

In [ ]:
# 169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합: 25

In [6]:
sum=0
for i in range(1,11,2) :
    sum += i
    print(sum)

1
4
9
16
25

In [7]:
sum=0
for i in range(1,11,2) :
    sum += i
print(sum)

25

In [ ]:
# 170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [9]:
mul = 1
for i in range(1,11) :
    mul *= i #mul = mul * i
    print(mul)

1
2
6
24
120
720
5040
40320
362880
3628800

In [10]:
mul = 1
for i in range(1,11) :
    mul *= i
print(mul)

3628800

## 171 ~ 180

In [ ]:
# 171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

32100
32150
32000
32500

In [12]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)) :
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

0 32100
1 32150
2 32000
3 32500

In [14]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)) :
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

3 32100
2 32150
1 32000
0 32500

In [17]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)) :
    print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [18]:
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

100 32150
110 32000
120 32500

In [26]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)-1) :
    print(100+i*10, price_list[i])

100 32100
110 32150
120 32000

In [ ]:
# 175
my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

가 나
나 다
다 라

In [2]:
my_list = ["가", "나", "다", "라"]

print(my_list[0],my_list[1])
print(my_list[1],my_list[2])
print(my_list[2],my_list[3])

가 나
나 다
다 라

In [5]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1) :
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [ ]:
# 176
리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

가 나 다
나 다 라
다 라 마

In [6]:
my_list = ["가", "나", "다", "라", "마"]

print(my_list[0],my_list[1], my_list[2])
print(my_list[1],my_list[2], my_list[3])
print(my_list[2],my_list[3], my_list[4])

가 나 다
나 다 라
다 라 마

In [2]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2) :
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
# 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

라 다
다 나
나 가

In [3]:
my_list = ["가", "나", "다", "라"]

print(my_list[3],my_list[2])
print(my_list[2],my_list[1])
print(my_list[1],my_list[0])

라 다
다 나
나 가

In [11]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1) :
    print(my_list[3-i],my_list[2-i])

라 다
다 나
나 가

In [21]:
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [20]:
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [19]:
my_list = ["가", "나", "다", "라"]
range(len(my_list) - 1, 0, -1)
list(range(len(my_list) - 1, 0, -1))

[3, 2, 1]

In [ ]:
# 178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 
200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 
이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

100
200
400

In [ ]:
my_list = [100, 200, 400, 800]

100 = 200 - 100
200 = 400 - 200
400 = 800 - 400

In [27]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1) :
    print(my_list[i+1] - my_list[i])

100
200
400

In [24]:
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [23]:
abs? # 절댓값 반환

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

In [25]:
for i in range(len(my_list) - 1):
    print(abs(my_list[i] - my_list[i+1]))

100
200
400

In [ ]:
# 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 
두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 
같은 방식으로 나머지 데이터의 평균을 출력한다.

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [28]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2) :
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 
고가와 저가의 차를 변동폭이라고 정의할 때, 
low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

In [29]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

# 변동폭 = high - low = h1 - l1

for i in range(len(low_prices)) :
    print(high_prices[i]-low_prices[i])

50
100
30
80
0

In [36]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

## 181 ~ 190

In [ ]:
# 181
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

|101호	|102호|
|---|---|
|201호	|202호|
|301호	|302호|

In [8]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
print(apart,type(apart))

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']] <class 'list'>

In [ ]:
# 182
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

|시가	|종가|
|---|---|
|100|	80|
|200|	210|
|300|	330|

In [12]:
stock = [ ['시가',100, 200, 300], ['종가',80, 210, 330]]
print(stock,type(stock))

[['시가', 100, 200, 300], ['종가', 80, 210, 330]] <class 'list'>

In [ ]:
# 183
아래 표를 stock 이름의 딕셔너리로 표현하라.
시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
종가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

|시가	|종가|
|---|---|
|100|	80|
|200|	210|
|300|	330|

In [15]:
stock = {'시가': [100, 200, 300], '종가':[80, 210, 330]}

In [ ]:
# 184
아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 
날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 
첫 열이 날짜이다.

|10/10	|80	|110|	70|	90|
|---|---|---|---|---|
|10/11	|210	|230	|190	|200|

In [18]:
stock = {'10/10':[80, 110, 70, 90], '10/11':[210, 230, 190, 200]}
print(stock,type(stock))

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]} <class 'dict'>

In [ ]:
# 185
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

101 호
102 호
201 호
202 호
301 호
302 호

In [25]:
apart = [ [101, 102], [201, 202], [301, 302] ]

print(apart[0][0],'호')
print(apart[0][1],'호')
print(apart[1][0],'호')
print(apart[1][1],'호')
print(apart[2][0],'호')
print(apart[2][1],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [27]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)) :
    print(apart[i][0],'호')
    print(apart[i][1],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [28]:
# 교재 답
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [30]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
        print(row, "호")

[101, 102] 호
[201, 202] 호
[301, 302] 호

In [31]:
row = [101, 102]
print(row, '호')

row = [201, 202]
print(row, '호')

row = [301, 302]
print(row, '호')

[101, 102] 호
[201, 202] 호
[301, 302] 호

In [33]:
row = [101, 102]
for i in row :
    print(i, '호')

row = [201, 202]
for i in row :
    print(i, '호')

row = [301, 302]
for i in row :
    print(i, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [34]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for i in row :
        print(i, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [20]:
# 186
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

301 호
302 호
201 호
202 호
101 호
102 호

In [37]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1] :
    print(i, '호')

[301, 302] 호
[201, 202] 호
[101, 102] 호

In [39]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1] :
    for a in i :
        print(a, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

302 호
301 호
202 호
201 호
102 호
101 호

In [40]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1] :
    print(i,'호')

[301, 302] 호
[201, 202] 호
[101, 102] 호

In [41]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1] :
    for a in i[::-1] :
        print(a,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [44]:
apart = [ [101, 102], [201, 202], [301, 302] ]

print(apart[0][0], '호')
print('-----')
print(apart[0][1], '호')
print('-----')

print(apart[1][0], '호')
print('-----')
print(apart[1][1], '호')
print('-----')

print(apart[2][0], '호')
print('-----')
print(apart[2][1], '호')
print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [46]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    print(i,'호')
    print('-----')

[101, 102] 호
-----
[201, 202] 호
-----
[301, 302] 호
-----

In [48]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    for a in i :
        print(a,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [55]:
# 교재 답
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 189
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [57]:
apart = [ [101, 102], [201, 202], [301, 302] ]

print(apart[0][0], '호')
print(apart[0][1], '호')
print("-" * 5)

print(apart[1][1], '호')
print(apart[1][1], '호')
print("-" * 5)

print(apart[2][1], '호')
print(apart[2][1], '호')
print("-" * 5)

101 호
102 호
-----
202 호
202 호
-----
302 호
302 호
-----

In [60]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    print(i,'호')
    print("-" * 5)

[101, 102] 호
-----
[201, 202] 호
-----
[301, 302] 호
-----

In [61]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    for a in i :
        print(a,'호')
    print("-" * 5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [62]:
# 교재 답
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [63]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    for a in i :
        print(a,'호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191 ~ 200

In [ ]:
# 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

2000.28
3050.427
2050.2870000000003
...

In [70]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data :
    for a in i :
        print(a+(a*0.014*0.01))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [74]:
# 교재 답
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data :
    for a in i :
        print(a * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
# 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [72]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data :
    for a in i :
        print(a+(a*0.014*0.01))
    print('-'*4)

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [73]:
# 교재 답
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
# 193
192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

>> print(result)
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

In [105]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for i in data :
    for a in i :
        print(result.append(a)) # 추가시키는 함수여서 출력값이 None
        print(result)
print(result)

None
[2000]
None
[2000, 3050]
None
[2000, 3050, 2050]
None
[2000, 3050, 2050, 1980]
None
[2000, 3050, 2050, 1980, 7500]
None
[2000, 3050, 2050, 1980, 7500, 2050]
None
[2000, 3050, 2050, 1980, 7500, 2050, 2050]
None
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980]
None
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450]
None
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050]
None
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050, 15550]
None
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050, 15550, 14900]
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050, 15550, 14900]

In [106]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for i in data :
    for a in i :
        result.append(a)
        print(result)

[2000]
[2000, 3050]
[2000, 3050, 2050]
[2000, 3050, 2050, 1980]
[2000, 3050, 2050, 1980, 7500]
[2000, 3050, 2050, 1980, 7500, 2050]
[2000, 3050, 2050, 1980, 7500, 2050, 2050]
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980]
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450]
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050]
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050, 15550]
[2000, 3050, 2050, 1980, 7500, 2050, 2050, 1980, 15450, 15050, 15550, 14900]

In [107]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for i in data :
    for a in i :
        result.append(a * 1.00014)
        print(result)

[2000.28]
[2000.28, 3050.427]
[2000.28, 3050.427, 2050.2870000000003]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [108]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for i in data :
    for a in i :
        result.append(a * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [102]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [82]:
# 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

>> print(result)
[
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]

In [109]:
# 191번 문제
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data :
    for a in i :
        print(a * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [140]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data :
    for a in i :
        result.append(a * 1.00014)
print(result)

a = []
a.append([result[0],result[1],result[2],result[3] ])
print(a)
a.append([result[4],result[5],result[6],result[7]])
print(a)
a.append([result[8],result[9],result[10],result[11]])
print(a)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]
[[2000.28, 3050.427, 2050.2870000000003, 1980.2772]]
[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772]]
[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [155]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
data2 = []
result = []

for i in range(len(data)) :
    for a in i :
        data2.append(a * 1.00014)
print('data =',data2)

result.append([data2[0],data2[1],data2[2],data2[3] ])
result.append([data2[4],data2[5],data2[6],data2[7]])
result.append([data2[8],data2[9],data2[10],data2[11]])
print('result =',result)

TypeError: 'int' object is not iterable

In [ ]:
result.append([data2[0],data2[1],data2[2],data2[3] ])
result.append([data2[4],data2[5],data2[6],data2[7]])
result.append([data2[8],data2[9],data2[10],data2[11]])

result.append([data2[i],data2[i+1],data2[i+2],data2[i+3]])

In [4]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data :
    data2 = []
    for a in i :
        data2.append(a * 1.00014)
    result.append(data2)
print('result =',result)

result = [[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [5]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
data2 = []
for i in data :
    
    for a in i :
        data2.append(a * 1.00014) # data2 = a x i 수의 개수만큼 데이터가 저장 -> data2 = [a00, a01, ****, a10, a11]
    result.append(data2) #result = i 수의 개수만큼 저장 -> result[i0, i1, i2]
print('result =',result)

result = [[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [3]:
# 교재 답
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for line in data: # data에 리스트 조희 -> 3번 반복
    sub = [] # sub = [] 에 for coium in line 문을 실행
    for column in line: # data에 리스트 안에 리스트를 조희 -> 4번 반복
        sub.append(column * 1.00014) # 한 sub 값에 column * 1.00014 값을 입력을 4번 반복
    result.append(sub) # 한 result 값에 4번 반복된 sub 값을 입력 -> sub[1번, 2번, 3번, 4번]를 한 result 값에 입력을 3번 반복
print(result) # result[ [sub[1번, 2번, 3번, 4번]], sub[1번, 2번, 3번, 4번], sub[1번, 2번, 3번, 4번] ]를 출력

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
# 195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

100
190
310

In [ ]:
# 결과값을 출력해보기
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

print(ohlc[1][3])
print(ohlc[2][3])
print(ohlc[3][3])

In [ ]:
# 정리하기
print(ohlc[1][3])
print(ohlc[2][3])
print(ohlc[3][3])

print(ohlc[i(1~3)][3])
-> for문으로 i를 ohlc에 1부터 3까지를 돌리고, print에는 4번째 자리에 값을 출력

In [ ]:
# 정리하기2
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    print(i[3])

In [ ]:
# 교재 답
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

In [ ]:
# 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

190
310

In [ ]:
# 결과값을 출력해보기
a = [100, 110, 70, 100]
if a[3] > 150 :
    print(a[3])

b = [200, 210, 180, 190]
if b[3] > 150 :
    print(b[3])

c = [300, 310, 300, 310]
if c[3] > 150 :
    print(c[3])

In [ ]:
# 리스트 자료형 합하기
a = [100, 110, 70, 100]
b = [200, 210, 180, 190]
c = [300, 310, 300, 310]

d = a, b, c
d

In [ ]:
# 정리하기
a = [100, 110, 70, 100]
b = [200, 210, 180, 190]
c = [300, 310, 300, 310]

d = a, b, c

if d[0][3] > 150 :
    print(d[0][3])
    
if d[1][3] > 150 :
    print(d[1][3])
    
if d[2][3] > 150 :
    print(d[2][3])

In [ ]:
# 정리하기2
a = [100, 110, 70, 100]
b = [200, 210, 180, 190]
c = [300, 310, 300, 310]

d = a, b, c

#if d[0][3] > 150 :
#    print(d[0][3])
    
#if d[1][3] > 150 :
#    print(d[1][3])
    
#if d[2][3] > 150 :
#    print(d[2][3])

for i in d :
    if i[3] > 150 :
        print(i[3])

In [ ]:
# 정리하기3
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if i[3] > 150 :
        print(i[3])

In [ ]:
# 교재 답
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

In [ ]:
# 확인
A = ['a', 'b', 'c']

for i in A :
    if i == 'a' :
        print('정답')

In [ ]:
# 197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

100
310

In [ ]:
# 정리하기
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if 종가 >= 시가 :
        print(종가)

In [ ]:
# 정리하기2
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if i[3] >= i[0] :
        print(i[3])

In [ ]:
# 교재 답
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

In [ ]:
# 198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
고가와 저가의 차이를 변동폭으로 정의할 때, 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

>> print(volatility)
[40, 30, 10]

In [ ]:
# 리스트 차이
a = [1, 2, 3, 4, 5, 6, 7]
print(a[1]) # 해당 자리에 데이터 값을 나타냄
print(a[1:]) # 해당 자리 이후에 데이터 값을 나타냄

In [ ]:
# 정의하기
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:] :
    volatility.append(변동폭 = 고가 - 저가i[1]-i[2])
 print(volatility = 변동폭)

In [ ]:
# 정의하기2
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:] :
    volatility.append(i[1]-i[2])
print(volatility)

In [ ]:
# 교재 답
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
print(volatility)

In [ ]:
# 교재 답 2 - range 사용
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:] :
   print(i[1]-i[2])

In [ ]:
# 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 
따라서 이 거래일의 변동성은 10 (310 - 300)이다.

10

In [ ]:
# 정의하기
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

if 종가 > 시가 :
    print(변동성(고가-저가))

In [ ]:
# 정의하기 2
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if i[3] > i[0] :
        print(i[1]-i[2])

In [ ]:
# 교재 답
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

In [ ]:
# 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

1일차 수익 0원 (100 - 100)
2일차 수익 -10원 (190 - 200) 
3일차 수익 10원 (310 - 300)

0

In [ ]:
# 정의하기
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

매도 - 매수 = 종가 - 시가 = 수익 = close - open

총 수익 = 1일차 + 2일차 + 3일차

In [ ]:
# 정의하기 2
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

total = []

for i in ohlc[1:] :
    total.append(i[3]-i[0])

print(sum(total))

In [ ]:
# 교재 답
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0]) # profit에 for문이 끝날때까지 데이터 값을 더한다.

print(profit)

# 파이썬 함수

## 201 ~ 210

In [ ]:
# 201
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [ ]:
def print_coin():
    print("비트코인")

In [ ]:
# 202
201번에서 정의한 함수를 호출하라.

In [ ]:
a = print_coin()

In [ ]:
# 교재 답
print_coin()

In [ ]:
#203
201번에서 정의한 print_coin 함수를 100번호출하라.

In [ ]:
for i in range(0,100) :
    print_coin()

In [ ]:
# 교재 답
for i in range(100):
    print_coin()

In [ ]:
# 204
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [ ]:
def print_coins() :
    for i in range(100) :
        print("비트코인")

print_coins()

In [ ]:
#205
아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")

실행 예
NameError: name 'hello' is not defined

In [ ]:
### hello()를 함수로 정의하기 전에 만들어버려서

In [ ]:
### 교재 답 :함수가 정의되기 전에 호출되어서 에러가 발생합니다.

In [ ]:
# 206
아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

In [ ]:
### 예측
A   
B   
C   
A   
B

In [ ]:
# 결과
def message() :
    print("A")
    print("B")

message()
print("C")
message()

In [ ]:
# 207
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

In [ ]:
### 예측
A   
C   
B

In [ ]:
# 결과
print("A")

def message() :
    print("B")

print("C")
message()

In [ ]:
# 208
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message1() :
    print("B")

print("C")

def message2() :
    print("D")
    
message1()
print("E")
message2()

In [ ]:
### 예측
A   
C   
B   
E   
D

In [ ]:
# 결과
print("A")

def message1() :
    print("B")

print("C")

def message2() :
    print("D")
    
message1()
print("E")
message2()

In [ ]:
# 209
아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

In [ ]:
### 예측
B   
A

In [ ]:
# 결과
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

In [ ]:
# 210
아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

In [ ]:
### 예측
B   
C   
B   
C   
B   
C   
A

In [ ]:
# 결과
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

## 211 ~ 220

In [ ]:
#211
함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [ ]:
### 예측
안녕   
Hi

In [ ]:
### 결과
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [ ]:
#212
함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [ ]:
### 예측
7
15

In [ ]:
### 결과
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [ ]:
# 213
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'

In [ ]:
### 예상
함수()에 문자열이라고 입력값 1개를 받아서 print(문자열)을 출력하게 되는데, 함수()만 작성해서 입력값이 존재하지 않는다.   
또한, print(문자열) 이것도 print('문자열')로 수정해야한다.

In [ ]:
### 교재 답
함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다.

In [ ]:
# 214
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int

In [ ]:
### 예상
"안녕"은 str이고 3은 int여서 서로 다른 타입이여서 a+b의 연산이 불가능하다.

In [ ]:
### 교재 답
정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계됐습니다.   
하지만 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

In [ ]:
# 215
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [ ]:
# 정의하기
입력 : 하나의 문자
출력 : 문자열 끝에 ":D" 스마일 문자열을 이어 붙임
함수이름 : print_with_smile

In [ ]:
# 함수 정의하기
def print_with_smile(문자) :
    print(문자+':D')

In [ ]:
# 함수 정의하기 2
def print_with_smile(문자) :
    print(문자+':D')

print_with_smile('안녕')

In [ ]:
# 교재 답
def print_with_smile (string) :
    print (string + ":D")

print_with_smile('스마일')

In [ ]:
# 216
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [ ]:
def print_with_smile(문자) :
    print(문자+':D')

print_with_smile('안녕하세요')

In [ ]:
# 217
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [ ]:
# 함수 정의하기
입력 : 현재 가격
출력 : 상한가(30%)
함수 이름 : print_upper_price

In [ ]:
# 함수 정의하기 2
def print_upper_price(price) :
    print(price*1.3)

In [ ]:
# 함수 정의하기 3
def print_upper_price(price) :
    print(price*1.3)

print_upper_price(1000)

In [ ]:
#교재 답
def print_upper_price(price) :
    print(price * 1.3)

In [ ]:
# 218
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
# 함수 정의하기
입력 : 두 개의 숫자
출력 : 두 수의 합
함수 이름 : print_sum

In [ ]:
# 함수 정의하기 2
def print_sum(a, b) :
    print(a + b)

print_sum(1, 2)

In [ ]:
# 219
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
# 함수 정의하기
입력 : 두 개의 숫자
출력 : 합/차/곱/나눗셈
함수 이름 : print_arithmetic_operation

In [ ]:
# 함수 정의하기 2
def print_arithmetic_operation(a, b) :
    print(a, '+', b, '=', a + b)
    print(a, '-', b, '=', a - b)
    print(a, '*', b, '=', a * b)
    print(a, '/', b, '=', a / b)

print_arithmetic_operation(1,2)

In [ ]:
# 220
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 
단, if 문을 사용해서 수를 비교하라.

In [ ]:
# 함수 정의하기 
입력 : 세 개의 숫자
출력 : 가장 큰 수
함수 이름 : print_max

In [ ]:
# 함수 정의하기
def print_max(a, b, c) :
    if a > b and b > c :
        print(a)
    elif b > a and a > c :
        print(b)
    else :
        print(c)

In [ ]:
# 함수 정의하기 2
def print_max(a, b, c) :
    if a > b and a > c :
        print(a)
    elif b > a and b > c :
        print(b)
    else :
        print(c)

print_max(1, 2, 3)
print_max(4, 2, 3)

In [ ]:
# 교재 답
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a     # a > (max_val = 0)을 비교해서 max_val에 참이면 a를, 거짓이면 0을 유지
    if b > max_val :    
        max_val = b     # b > (max_val = a or 0)을 비교해서 max_val에 참이면 b를, 거짓이면 a를 유지
    if c > max_val :    
        max_val = c     # c > (max_val = b or a)을 비교해서 max_val에 참이면 c를, 거짓이면 b를 유지
    print(max_val)

print_max(5, 2, 3)

# 지금까지써왔던 max 함수의 내부는 위와 비슷하게 구현되어 있을 겁니다.

max(1, 2, 3)    # max() : 요소들 중에서 가장 큰 요소를 반환

In [ ]:
max?

## 221 ~ 230

In [ ]:
# 221
입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

print_reverse("python")
nohtyp

In [ ]:
# 함수 정의하기
입력 : 문자열
출력 : 문자열 역순
함수 이름 : print_reverse

In [ ]:
# 함수 정의하기 2
def print_reverse(문자열) : 
    print(문자열[::-1])

In [ ]:
# 함수 정의하기 3
def print_reverse(문자열) : 
    print(문자열[::-1])

print_reverse('안녕하세여')

In [ ]:
# 222
성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

print_score ([1, 2, 3])
2.0

In [ ]:
# 함수 정의하기
입력 : 성적 리스트
출력 : 평균
함수 이름 : print_score

In [ ]:
# 함수 정의하기 2
def print_score(list) :
    print(sum(list)/len(list))

In [ ]:
# 함수 정의하기 3
def print_score(list) :
    print(sum(list)/len(list))

print_score([1, 2, 3])
print_score([50, 60, 70, 80, 90])

In [ ]:
# 223
하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

print_even ([1, 3, 2, 10, 12, 11, 15])
    
2
10
12

In [ ]:
# 함수 정의하기
입력 : 하나의 리스트
출력 : 짝수
함수 이름 : print_even

In [ ]:
# 함수 정의하기 2
def print_even(list) : 
    for i in list :
        if i % 2 == 0 :
            print(i)

In [ ]:
# 함수 정의하기 3
def print_even(list) :
    for i in list :
        if i % 2 == 0 :
            print(i)

print_even([1, 2, 30, 24, 26, 44])

In [ ]:
# 224
하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

print_keys ({"이름":"김말똥", "나이":30, "성별":0})
이름
나이
성별

In [ ]:
# 함수 정의하기
입력 : 하나의 딕셔너리
출력 : 딕셔너리의 key 값
함수 이름 : print_keys

In [ ]:
# 함수 정의하기 2
def print_keys(dic) :
    print(dic.keys())

In [ ]:
# 함수 정의하기 3
def print_keys(dic) :
    print(dic.keys())

print_keys({"이름" : "홍길동", "나이" : 30, "성별" : 0})

In [ ]:
# 함수 정의하기 4
def print_keys(dic) :
    for i in dic.keys() :
        print(i)

print_keys({"이름" : "홍길동", "나이" : 30, "성별" : 0 })

In [ ]:
# 교재 답
def print_keys(dic):
    for keys in dic.keys() :
        print(keys)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

In [ ]:
# 딕셔너리에서 key
dict = ({"이름":"김말똥", "나이":30, "성별":0})
print(dict.keys())

In [ ]:
# 딕셔너리에서 value
dict = ({"이름":"김말똥", "나이":30, "성별":0})
print(dict.values())

In [ ]:
# 225
my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
# 함수 정의하기
입력 : my_dict와 날짜 키 값
출력 : OHLC 리스트
함수 이름 : print_value_by_key

In [ ]:
# 함수 정의하기 2
def print_value_by_key(my_dict, dkey) :
    print(my_dict[dkey])

In [ ]:
# 함수 정의하기 3
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, dkey) :
    print(my_dict[dkey])

print_value_by_key(my_dict, "10/26")
print_value_by_key(my_dict, "10/27")

In [12]:
# 226
입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

print_5xn("아이엠어보이유알어걸")
    
아이엠어보
이유알어걸

In [ ]:
# 함수 정의하기
입력 : 문자열
출력 : 한 줄에 다섯글자씩
함수 이름 : print_5xn(string)

In [2]:
# 함수 출력 정의하기
print_5xn = ("아이엠어보이유알어걸")

print(print_5xn[0:5])
print(print_5xn[5:10])

아이엠어보
이유알어걸

In [3]:
print_5xn = ("아이엠어보이유알어걸")
print(len(print_5xn),type(len(print_5xn)))
print(int(len(print_5xn)/2), type(int(len(print_5xn)/2)))
print(len(print_5xn)/2, type(len(print_5xn)/2))

10 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>

In [11]:
# 함수 정의하기 2
def print_5xn(string) :
    a = int(len(string)/5)
    for i in range(a+1) :
        print(string[i*5 : i*5+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [9]:
# 교재 답
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 227
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

printmxn("아이엠어보이유알어걸", 3)
    
아이엠
어보이
유알어
걸

In [15]:
# 함수 정의하기
a = "아이엠어보이유알어걸"
b = 3

print(a[0:b])
print(a[b:b+b])
print(a[b+b:b+b+b])
print(a[b+b+b:b+b+b+b])

아이엠
어보이
유알어
걸

In [17]:
# 함수 정의하기 2

int(len(a)/b)+1

4

In [28]:
# 함수 정의하기 3
a = "아이엠어보이유알어걸"
b = 3

for i in range(int(len(a)/b)+1) :
    print( a[   i * b : i * b + 3 ] )

아이엠
어보이
유알어
걸

In [26]:
# 함수 정의하기 4

def printmxn(a, b) :
    for i in range(int(len(a)/b)+1) :
        print( a[ i * b : i * b + 3 ] )

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [27]:
# 교재 답
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
# 228
연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

calc_monthly_salary(12000000)
1000000

In [ ]:
# 함수 정의하기
입력 : 연봉
출력 : 월급 ( 1원 미만은 버림 )
함수 이름 : calc_monthly_salary(annual_salary)

In [33]:
# 함수 정의하기
annual_salary = 120

print(int(annual_salary/12))

10

In [36]:
# 함수 정의하기 2
def calc_monthly_salary(annual_salary) :
    print(int(annual_salary/12))

calc_monthly_salary(12000000)

1000000

In [38]:
# 교재 답
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

calc_monthly_salary(12000000)

1000000

In [ ]:
# 229
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

In [ ]:
### 예측
왼쪽: 100
오른쪽: 200

In [40]:
# 결과
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [ ]:
# 230
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

In [ ]:
### 예측
왼쪽: 200
오른쪽: 100

In [41]:
# 결과
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

## 231 ~ 240

In [ ]:
# 231
아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

In [ ]:
### 예측
4

In [2]:
# 결과
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result) 

#함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능합니다. 
#(문법이 그래요) 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 합니다.

NameError: name 'result' is not defined

In [ ]:
# 232
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

make_url("naver")
www.naver.com

In [ ]:
# 함수 정의하기
입력 : 문자열 하나
출력 : 인터넷 주소
함수 이름 : make_url

In [7]:
# 함수 정의하기 2
def make_url(문자열) :
    return 'www.'+문자열+'.com'

make_url("naver")

'www.naver.com'

In [ ]:
# 233
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

make_list("abcd")
['a', 'b', 'c', 'd']

In [ ]:
# 함수 정의하기
입력 : 문자열
출력 : 각 문자들로 구성된 리스트
함수 이름 : make_list

In [ ]:
# 함수 정의하기 2
def make_list(문자열) :
    return 각 문자들로 구성된 리스트

In [17]:
# 함수 정의하기 3

make = 'abcd'

# len(make) = 4
list = []
for i in range(len(make)) :
    list.append(make[i])

print(list)

['a', 'b', 'c', 'd']

In [20]:
# 함수 정의하기 4
def make_list(문자열) :
    list = []
    for i in range(len(문자열)) :
        list.append(문자열[i])
    return list

make_list("abcd")

['a', 'b', 'c', 'd']

In [21]:
# 교재 답
def make_list (string) :
    my_list = []
    for 변수 in string :
        my_list.append(변수)
    return my_list

make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 234
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

pickup_even([3, 4, 5, 6, 7, 8])
[4, 6, 8]

In [ ]:
# 함수 정의하기
입력 : 숫자로 구성된 하나의 리스트
출력 : 짝수들을 추출하여 리스트로 반환
함수 이름 : pickup_even

In [25]:
# 함수 정의하기 2
list = [1, 2, 3, 4, 5]
even = []
for i in list :
    if i%2 == 0 :
        even.append(i)

print(even)

[2, 4]

In [27]:
# 함수 정의하기 3
def pickup_even(list) :
    even = []
    for i in list :
        if i%2 == 0 :
            even.append(i)
    return even
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
# 235
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

convert_int("1,234,567")
1234567

In [ ]:
# 함수 정의하기
입력 : 콤마가 포함된 문자열 숫자
출력 : 정수
함수 이름 : convert_int

In [35]:
# 함수 정의하기 2
숫자 = "1,234,567"
a = 숫자.replace(',','')
print(a , type(a))
print(int(a),type(int(a)))

1234567 <class 'str'>
1234567 <class 'int'>

In [38]:
# 함수 정의하기 3
def convert_int(숫자) :
    a = 숫자.replace(',','')
    return int(a)

convert_int("1,234,567")

1234567

In [39]:
# 교재 답
def convert_int (string) :
    return int(string.replace(',', ''))

convert_int("1,234,567")

1234567

In [ ]:
# 236
아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

In [ ]:
# 예측
a = 14 -> b = 18 -> c = 22
결과는 22

In [41]:
# 결과
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [ ]:
# 237
아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

In [ ]:
# 예측
22

In [42]:
# 결과
ef 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [ ]:
# 238
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

In [ ]:
# 예측
a = 14, c = 140
결과는 140

In [43]:
# 결과
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [ ]:
# 239
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

In [ ]:
# 예측
c = 12 -> 16
결과 16

In [44]:
# 결과
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [ ]:
# 240
아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

In [ ]:
# 예측
c = 12 -> 14 -> 28
결과 28

In [45]:
# 결과
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

# 파이썬 모듈

## 241 ~ 250

# 파이썬 클래스

## 251 ~ 260

## 261 ~ 270

## 271 ~ 280

## 281 ~ 290

# 파일 입출력과 예외처리

## 291 ~ 300